---
import Categories from "@content/links/Categories.json";
import About from "@content/links/About.json";
import Services from "@content/links/Services.json";
import {
  Facebook,
  Instagram,
  Youtube,
  type Icon as IconType,
} from "@lucide/astro";

const Redes = [
  {
    name: "Facebook",
    href: "https://www.facebook.com/distritomodaarg/",
    icon: Facebook,
  },
  {
    name: "Instagram",
    href: "https://www.instagram.com/distritomodaarg/",
    icon: Instagram,
  },
  {
    name: "Youtube",
    href: "https://www.youtube.com/channel/UCUSVZN5Wp3iZhZL2PLsTDfA",
    icon: Youtube,
  },
];
---

<footer data-component="Footer" class="bg-white text-secondary/80 mt-auto">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-12 py-16">
      <section class="flex flex-col gap-6">
        {
          Categories.length > 0 && (
            <div>
              <ul class="space-y-4 text-sm text-secondary/80">
                <h6 class="font-bold mb-6 uppercase text-secondary tracking-wider text-sm">
                  Categorias
                </h6>
                {Categories.map((category) => (
                  <li>
                    <a
                      class="hover:text-secondary transition-colors"
                      href={category.href}
                    >
                      {category.name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          )
        }
        {
          Redes.length > 0 && (
            <div>
              <h6 class="font-bold mb-6 uppercase text-secondary tracking-wider text-sm">
                Seguinos
              </h6>
              <div class="flex space-x-4">
                {Redes.map((red) => (
                  <a
                    data-name={red.name}
                    href={red.href}
                    target="_blank"
                    aria-label={`Siguenos en ${red.name}`}
                    class="hover:text-on-secondary-fixed transition-colors"
                  >
                    <red.icon />
                  </a>
                ))}
              </div>
            </div>
          )
        }
      </section>

      <section class="flex flex-col gap-6">
        {
          About.length > 0 && (
            <div>
              <h6 class="font-bold mb-6 uppercase text-secondary tracking-wider text-sm">
                Nosotros
              </h6>
              <ul class="space-y-4 text-sm text-secondary/80">
                {About.map((link) => (
                  <li>
                    <a
                      class="hover:text-secondary transition-colors"
                      href={link.href}
                    >
                      {link.name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          )
        }

        {
          Services.length > 0 && (
            <div>
              <h6 class="font-bold mb-6 uppercase text-secondary tracking-wider text-sm">
                Ayuda
              </h6>
              <ul class="space-y-4 text-sm">
                {Services.map((link) => (
                  <li>
                    <a
                      class="hover:text-secondary transition-colors"
                      href={link.href}
                    >
                      {link.name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          )
        }
      </section>

      <section>
        <h6
          class="font-bold mb-6 uppercase text-secondary tracking-wider text-sm"
        >
          Newsletter
        </h6>
        <p class="text-sm mb-4">
          Suscribite para recibir las mejores ofertas y tendencias.
        </p>
        <form class="flex">
          <input
            class="bg-white/10 border border-slate-200 rounded-l-lg px-4 py-2 w-full placeholder-gray-500 focus:ring-1 focus:ring-primary"
            placeholder="Tu email"
            type="email"
          />
          <button
            class="bg-primary px-4 text-white py-2 rounded-r-lg hover:bg-opacity-90 transition-all cursor-pointer"
            >Suscribirse</button
          >
        </form>
      </section>
    </div>
  </div>
  <div class="p-6 bg-slate-100 text-xs text-secondary">
    <div class="container w-full mx-auto px-4 text-center md:text-left">
      <p>
        © 2017 - {new Date().getFullYear()} Distrito Moda | Todos los derechos reservados
      </p>
    </div>
  </div>
</footer>
