---
import { formatPrice } from "@lib/utils";
import { HeartPlus, ShoppingCart } from "@lucide/astro";
import type { Product } from "@types-local/product.ts";

const { product } = Astro.props as { product: Product };
import { Image } from "astro:assets";
---

<div
  data-id={product.id}
  class="bg-white rounded-lg shadow-sm overflow-hidden group cursor-pointer hover:shadow-md transition-shadow"
>
  <div class="flex relative overflow-hidden">
    <a href={`/productos/${product.slug}`}>
      <Image
        src={product.image ?? "/assets/images/product-placeholder.png"}
        alt={product.title}
        width="400"
        height="600"
        class="object-cover group-hover:scale-105 transition-transform"
      />
    </a>
    <button
      class="absolute cursor-pointer top-4 right-4 p-2 bg-white/80 backdrop-blur rounded-full text-slate-900 hover:text-accent transition-colors"
    >
      <span class="material-symbols-outlined"><HeartPlus /></span>
    </button>
    <div
      class="absolute bottom-0 left-0 right-0 p-4 translate-y-full max-md:translate-y-0 group-hover:translate-y-0 transition-transform duration-300"
    >
      <button
        class="w-full py-3 cursor-pointer bg-white text-slate-900 font-bold rounded-xl shadow-lg hover:bg-accent hover:text-white transition-colors flex items-center justify-center gap-2"
      >
        <span class="material-symbols-outlined text-sm"><ShoppingCart /></span>
        Add to Cart
      </button>
    </div>
  </div>
  <div class="flex p-4 flex-col space-y-2">
    <a href={`/tiendas/${product.brand?.slug}`} class="text-sm text-gray-500"
      >{product.brand?.name}</a
    >
    <a
      href={`/productos/${product.slug}`}
      class="text-lg font-semibold text-secondary">{product.title}</a
    >
    <p class="text-primary font-bold">
      {formatPrice(product.price ?? 0, product.currency ?? "ARS")}
    </p>
    <p class="text-sm text-gray-500">{product.sizes?.join(", ")}</p>
    <div class="flex items-center space-x-1">
      {
        product.colors?.map((color) => (
          <span
            class="w-4 h-4 rounded-full border border-gray-300"
            style={{ backgroundColor: color }}
          />
        ))
      }
    </div>
  </div>
</div>
